<div class="container">
    
    <h1 class="text-center">Wellcome</h1>
    
    <h4>Como começar?</h4>
    <h6>Primeiro passo - Escolher o Menu</h6>
    <p>Seleccionar e configurar o tipo de Ementa que mais se adequa ao seu negocio.
        Existem três tipos de ementa pré definidos. <a>VER</a></p>
    <p>Em seguida deve seleccionar as categorias para a ementa e as imagens para cada um deles.
        Por exemplo: Entradas, Saladas, Prato de Carne, etc....</p>
    <p>É possível usar um menu pré definido.</p>
    
    <h5>Adicionar os artigos</h5>
    <p>Agora vamos inserir os artigos e as imagens dos artigos, pratos ou bebidas, 
        com as respectivas descrições e os preços.Pode inserir as suas próprias imagens 
    ou seleccionar das que já temos.</p> 
    
    <h5>Finalizar</h5>
    <p>Gerar o QR code. Este QR Code deverá ser colocado nas mesas ou de forma a que
        os clientes possam ler com os seus smartphones. Veja <a>aqui</a> alguns exemplos.</p>
    
  
</div>
